@import url('https://fonts.googleapis.com/css?family=Arvo');

html, ul, li, p, body, h2, h1, h3, div, input{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Dosis', sans-serif;
  font-size: inherit;
}

h1{
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}
h3{
  font-size: 17px;
  margin: 20px 0;
  color: #baf2e9
}

 h1 {
  color:white;
  text-shadow: 2px 2px 8px rgb(125,180,181);
  text-align: left;
}

p {
  color: #baf2e9;
  font-size: 17px;
}


.input {
  width: 50vw;
  height: 35px;
  font-family: 'Arvo', serif;
  border: 0;
  outline: 0;
  background: transparent;
  /*border: 3px solid lightgray;
  border-radius: 3px;*/
  border: 2px solid #e0e0e0;
  border-radius: .375rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
}

div.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  /*height: 100%;*/
  height:100vh;
  position: fixed;
  /*min-width: 722px;*/
}

div.sidebar {
  width: 20%;
  /*background-color: #1ebea5;*/
  background-color: #1ebea5;
  padding: 30px;
  height: 100%;
  min-width: 200px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 60%;
}


div.author {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

div.author-name{
  width: 100px;
  font-family: 'Dosis', sans-serif;
  color: #baf2e9;
}

div.author img {
  cursor: pointer;
}

.logo {
  margin-top: 0;
  font-size: 38px;
  /*color: #57ccb9;
  -webkit-text-stroke: .1px #fff;*/
}

.sidebar-subtitle {
  color: #baf2e9;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
}

div.chat-area {
  width: 100%;
  height:100%;
  position: relative;
  display: flex;
  flex-direction column;
  justify-content: space-around;
  /*margin-left: 30px;*/
  min-width: 900px;
  min-height: 636px;
}

.signin-btn {
  vertical-align: top;
  height: 40px;
  font-size: 18px;
  font-size: 18px;
  background-color: #1ebea5;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #1cdbbd;
  outline: 0px;
  /*font-family: 'Open Sans', sans-serif;*/
  padding: 0 20px;
  box-shadow: 0 1px 3px #18ceb2;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;
}

.signin-btn:hover {
  /*background-color: #18ceb2;*/

  box-shadow: 0px 0px 20px -2px #a2efe3;
  background-color: #1ebea5;
}


.submit-btn {
  vertical-align: top;
  height: 40px;
  font-size: 18px;
  font-size: 18px;
  background-color: #1ebea5;
  color: #fff;
  border: 0px;
  outline: 0px;
  /*font-family: 'Open Sans', sans-serif;*/
  padding: 0 20px;
  box-shadow: 0 1px 3px #18ceb2;
  font-family: 'Dosis', sans-serif;
  cursor: pointer;

  /*background-color: #104da1;
  border: 1px solid #3260c7;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  padding: 10px 10px;*/
}

.submit-btn:hover {
  box-shadow: 0px 0px 20px -2px #18ceb2;
  background-color: #42d6bf;

  /*box-shadow: 0px 0px 20px -2px blue;
  background-color: #1254af;*/
}

#form {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

div#messages {
    min-height: 453px;
    max-height: 500px;
    /*height: 70vh;*/
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    bottom: 100px;
    top: 80px;
    padding: 20px;
    margin-left: 20px;
}

div#user-item{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;

}
#user-item div{
  color: #baf2e9;
  font-family: 'Dosis', sans-serif;
  margin: auto;
  margin-left: 10px;
  padding: 0;
}

#user-item img{
  -webkit-transform: scale(0.8);
}
/*#user-item img{
  -webkit-transform: scale(0.5);
}*/

div.nav-bar {
  height: 50px;
  border-bottom: gray 2px solid;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #1ebea5;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 520px;
}
.modal-content *{
  margin: 10px;

}
#user-input {
  height: 40px;
  width: 290px;
  font-size: 18px;
  padding: 0 10px;

}
span#user-title{
  width:100%;
  height: 20px;
}
#user-title {
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1ebea5;
  position: relative;
  text-align: left;
  padding: 30px 30px 20px 30px;
  border-bottom: 1px solid lightgray;
}

.input-bar {
  margin-left: 30px;
}

div.message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: bottom;
  width: 65%;
  margin: 10px;
  min-height: 50px;
}
/*.message h2{
  font-weight: 900;
  margin: 0;
  margin-right: 10px;
  font-size: 20px;
  color: #2c2d30!important;
  width: 100px;
  height: 25px;
}*/
div.message-body{
  /*font-size: 16px;*/
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
div.nameTime{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
  min-height: 18px;
}
div.name{
  font-size: 14px;

}
div.time{
  margin-left: 20px;
  font-size: 12px;
  color: #2c2d30;
}

img.logo-img{
  height: 50px;
  width: 100px;
  margin-left: 50px;
}

div#bottom-sidebar {
  margin-bottom: 50px;
}

#bottom-sidebar h3 {
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}
