@import url('https://fonts.googleapis.com/css?family=Arvo');

html, ul, li, p, body, h2, h1, h3, {
  font-family: sans-serif;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;

}

.sidebar h1{
  color:white;
  font-family: 'Arvo', serif;
  text-shadow: 2px 2px 8px rgb(125,180,181);
  text-align: center;
}

div.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  height:100vh;
}

div.sidebar {
  width: 20%;
  background-color: rgb(224,239,241);
  padding: 20px;
  height: 100%;
}

div.chat-area {
  width: 65%;
}
